## `Dataset 8`

Nama Dataset : Recruitment Prediction

Goals : Create deep analytics to identify which variables affecting hiring decision and build model to predict hiring decision

About Dataset : Predict whether a candidate will be hired or not

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('recruitment_data.csv')

In [4]:
df.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1500 non-null   int64
 1   Gender               1500 non-null   int64
 2   EducationLevel       1500 non-null   int64
 3   ExperienceYears      1500 non-null   int64
 4   PreviousCompanies    1500 non-null   int64
 5   DistanceFromCompany  1500 non-null   float64
 6   InterviewScore       1500 non-null   int64
 7   SkillScore           1500 non-null   int64
 8   PersonalityScore     1500 non-null   int64
 9   RecruitmentStrategy  1500 non-null   int64
 10  HiringDecision       1500 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 129.0 KB

In [5]:
df.head()

,Age,Gender,EducationLevel,ExperienceYears,PreviousCompanies,DistanceFromCompany,InterviewScore,SkillScore,PersonalityScore,RecruitmentStrategy,HiringDecision
0,26,1,2,0,3,26.783828,48,78,91,1,1
1,39,1,4,12,3,25.862694,35,68,80,2,1
2,48,0,2,3,2,9.920805,20,67,13,2,0
3,34,1,2,5,2,6.407751,36,27,70,3,0
4,30,0,1,6,1,43.105343,23,52,85,2,0


`Berikut merupakan List fitur :`
1. Age : Umur kandidat
2. Gender : Jenis kelamin kandidat (0 , 1) 
3. EducationLevel : Tingkat pendidikan kandidat (1 - 5)
4. ExperienceYears : Jumlah tahun pengalaman kandidat
5. PreviousCompanies : Jumlah perusahaan sebelumnya kandidat
6. DistanceFromCompany : Jarak dari rumah ke perusahaan 
7. InterviewScore : Skor wawancara kandidat (1 - 100)
8. SkillScore : Skor keterampilan kandidat (1 - 100)
9. PersonalityScore : Skor kepribadian kandidat (1 - 100)
10. RecruitmentStrategy : Strategi rekrutmen (1,2,3)

Label Target :
11. HiringDecision : Keputusan perekrutan (0 = Tidak, 1 = Ya)