## `Dataset 10`

Nama Dataset : Employee Career Advancement Prediction Data

Goals : Identifying the most influential factors in promotion decisions and building a classification prediction model using supervised learning to predict which employees are eligible for promotion.

About Dataset : The company faces challenges in determining which employees are eligible for promotion. Traditionally, promotion decisions have often been subjective, relying heavily on manual evaluations by managers. This approach can lead to bias, lack of transparency, and the potential loss of high-performing employees. By leveraging historical employee data, the company can build a classification model to predict promotion eligibility based on factors such as performance, experience, leadership, and participation in training or projects.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'D:\FP_Repository\Stage0_Business_Understanding\EDA_Dataset_10\Rakamin Bootcamp - Dataset - Promotion Dataset.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Employee_ID             1000 non-null   object
 1   Age                     950 non-null    float64
 2   Years_at_Company        951 non-null    float64
 3   Performance_Score       950 non-null    float64
 4   Leadership_Score        950 non-null    float64
 5   Training_Hours          950 non-null    float64
 6   Projects_Handled        950 non-null    float64
 7   Peer_Review_Score       950 non-null    float64
 8   Current_Position_Level  950 non-null    object
 9   Promotion_Eligible      950 non-null    float64
dtypes: float64(8), object(2)
memory usage: 78.2+ KB

In [5]:
df.head()

,Employee_ID,Age,Years_at_Company,Performance_Score,Leadership_Score,Training_Hours,Projects_Handled,Peer_Review_Score,Current_Position_Level,Promotion_Eligible
0,EMP0001,24.0,21.0,2.0,44.0,42.0,19.0,61.0,Junior,0.0
1,EMP0002,50.0,8.0,5.0,45.0,66.0,11.0,6.0,Junior,0.0
2,EMP0003,56.0,9.0,5.0,19.0,96.0,6.0,86.0,Lead,0.0
3,EMP0004,39.0,24.0,4.0,51.0,16.0,6.0,52.0,Senior,0.0
4,EMP0005,41.0,NaN,4.0,64.0,57.0,16.0,59.0,Junior,0.0


`Berikut list fitur :`
1. Employee_ID: Unique identifier for each employee.
2. Age: Age of the employee.
3. Years_at_Company: Number of years the employee has been with the company.
4. Performance_Score: Annual performance rating of the employee 
5. Leadership_Score: Rating of the employee's leadership skills 
6. Training_Hours: Total hours of training completed by the employee.
7. Projects_Handled: Number of projects the employee has managed or contributed to.
8. Peer_Review_Score: Average score from peer reviews
9. Current_Position_Level: Current job level of the employee (e.g., Junior, Mid, Senior).

Label Target :
10. Promotion_Eligible: Binary indicator (1 for eligible, 0 for not eligible).


Kolom,Deskripsi
- Employee_ID,ID unik untuk tiap karyawan
- Age,Usia karyawan (terdapat missing & anomali)
- Years_at_Company,Lama bekerja di perusahaan (tahun)
- Performance_Score,Skor performa tahunan (1–5)
- Leadership_Score,Skor kepemimpinan (0–100)
- Training_Hours,Jumlah jam pelatihan yang diikuti karyawan
- Projects_Handled,Jumlah proyek yang pernah ditangani
- Peer_Review_Score,Skor penilaian rekan kerja (0–100)
- Current_Position_Level,"Level jabatan saat ini (Junior, Mid, Senior, Lead)"
- Promotion_Eligible,"Label target: 1 = eligible dipromosikan, 0 = tidak eligible"