## `Dataset 11`

Nama Dataset : HR Analytics, Predicting Candidate Hiring Decisions

Goals : Identify the key factors influencing recruitment decisions and build a classification prediction model using supervised learning to determine which candidates are eligible for hiring.

About Dataset : The company has thousands of employees with diverse levels of performance, job satisfaction, and development needs. Currently, it struggles to identify potential employee groups for talent development programs and leadership pipelines. Without data-driven segmentation, training and development initiatives are often misaligned, making HR investments less effective.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('D:\FP_Repository\Stage0_Business_Understanding\EDA_Dataset_11\Rakamin Bootcamp - Dataset - Recruitment Dataset.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Candidate_ID             1000 non-null   object
 1   Age                      950 non-null    float64
 2   Education_Level          950 non-null    object
 3   Years_of_Experience      950 non-null    float64
 4   Skill_Score              950 non-null    float64
 5   Interview_Score          950 non-null    float64
 6   Previous_Company_Rating  950 non-null    float64
 7   Expected_Salary          950 non-null    float64
 8   Cultural_Fit_Score       950 non-null    float64
 9   Selected                 950 non-null    float64
dtypes: float64(8), object(2)
memory usage: 78.2+ KB

In [4]:
df.head()

,Candidate_ID,Age,Education_Level,Years_of_Experience,Skill_Score,Interview_Score,Previous_Company_Rating,Expected_Salary,Cultural_Fit_Score,Selected
0,CND0001,24.0,High School,17.0,7.0,27.0,4.0,12554.0,68.0,1.0
1,CND0002,37.0,High School,14.0,23.0,76.0,4.0,18486.0,22.0,0.0
2,CND0003,46.0,High School,1.0,91.0,78.0,2.0,11205.0,52.0,1.0
3,CND0004,32.0,PhD,9.0,40.0,86.0,5.0,13653.0,36.0,0.0
4,CND0005,28.0,Master,11.0,35.0,43.0,4.0,16182.0,8.0,0.0


`Berikut List Fitur :`
- Candidate_ID: ID unik untuk tiap kandidat
- Age: Usia kandidat
- Education_Level: Tingkat pendidikan terakhir kandidat
- Years_of_Experience: Lama pengalaman kerja (tahun)
- Skill_Score: Skor kemampuan teknis (0–100)
- Interview_Score: Skor hasil interview (0–100)
- Previous_Company_Rating: Rating perusahaan sebelumnya (1–5)
- Expected_Salary: Gaji yang diharapkan kandidat (IDR)
- Cultural_Fit_Score: Skor kecocokan budaya kerja (0–100)

Label Target :
- Selected: Label target: 1 = diterima, 0 = tidak diterima